/* ----globlal---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body{
    color: var(--texto-principal-d);
    background-color: var(--fundo-principal-d);
    font-family: "Outfit", sans-serif;

}
nav a {
    -webkit-user-drag: none;
}
/* variaveis setadas do projeto */
:root{
    --cor-principal: #7c3aed;
    --fundo-principal-d: #0f0f0f;
    --fundo-principal-l: #f8f8f8;
    --cards-d-d: #1a1a1a;
    --cards-d-l: #efefef;
    --hover-d: #5b21b6;
    --hover-l: #6d28d9;
    --texto-principal-d: #f1f1f1;
    --texto-principal-l: #1a1a1a;
    --texto-secundario-d: #888888;
    --texto-secundario-l: #555555;

}
#apresentacao,#sobre,#portfolio,#formacoes{
    height: 100vh;
}

#modal-envio,#modal-erro{
    display: none;
}
.titulos{
    text-align: center;
    font-size: 50px;

}
section h2{
    padding-top: 80px;
}



/* ----cabecalho---- */

nav {
    position: fixed;
    top: 12px;
    width: 100%;
    z-index: 7;
    display: flex;
    justify-content: center;
}

#nav-container {
    display: flex;
    gap: 35px;
    padding: 16px 32px;
    border: 2px solid #7c3aed;
    border-radius: 25px;
    width: fit-content;
    background-color: rgba(15, 15, 15, 0.85);

}
nav a {
    padding: 6px 14px;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
nav a:link{
    color: var(--texto-principal-d);
}
nav a:visited{
    color: var(--texto-principal-d);
}
nav a:hover{
    color: var(--texto-principal-d);
    background-color: var(--cor-principal);

}
nav a:active{
    color: var(--texto-principal-d);
}
#apresentacao{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 300px ;
}
#titulo{
    text-align: left;
}
#minhaFoto{
    
}
#nome {
    color: #7c3aed;
    text-shadow: 
        0 0 10px #7c3aed,
        0 0 20px #7c3aed,
        0 0 40px #7c3aed;
}



/* ----sobre mim---- */

#sobre{
    height: 100vh;

}
#sobreMim{
    /* padding: 100px 300px; */
    font-size: 21px;
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap
}

#stacks{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 100px;
    background-color: var(--cards-d-d);
    padding: 10px 150px;
    box-shadow: 
        0 0 60px #7c3aed88,
        0 0 120px #7c3aed55;
}

#stacks img{
    width: 60px;
    height: auto;
    padding: 10px;
}
#curriculo{
    
    text-align: center;
    color: var(--texto-principal-d);
    background-color: var(--cor-principal);
    width: 140px;
    height: 50px;
    align-items: center;
    padding-top: 14px;
    border-radius: 30px;
    text-shadow: 
        0 0 20px #f1f1f1,
        0 0 40px #f1f1f1;
}
#iconeStacks h3{
    text-align: center;
    text-shadow: 
        0 0 20px #f1f1f1,
        0 0 40px #f1f1f1;
}

#sobreMim p{
    background-color: var(--cards-d-d);
    border-radius: 20px;
    padding: 5px 5px;
    border: var(--cor-principal);
    border-left: 3px solid #7c3aed;
    padding-left: 14px;
    margin-bottom: 16px;
}


/* ----portfolio---- */

#projects{
    border-left: 3px solid #7c3aed;
    padding-left: 14px;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 30px;

}
#projetos{
    padding-inline: 300px;

}
#cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.card h3,p{
    margin-block: 4px;
}

.card{
    padding: 30px 30px;
    border: 1px solid #2a2a2a;
    border-radius: 40px;
    background-color: var(--cards-d-d);
    overflow: hidden;
    transition: border 0.3s;
}
.card:hover{
    border: 1px solid #7c3aed;
}
.tag{

    border-radius: 999px;
    background:#7c3aed22;
    color: #7c3aed;
    border: 1px solid #7c3aed;
    padding-inline: 5px;
}
.card-tags{
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.card a{
    padding: 5px 10px;
    border-radius: 6px;
    text-decoration: none;
    background: var(--cor-principal);
    color: var(--texto-principal-d);
}
.card a:visited{
    text-decoration: none;
}
.card a:hover{
    border: 1px solid #f1f1f1;
}
/* ----formacoes----  */



/* ----contato-----*/
#redeSociais img{
    width: 30px;
    height: auto;
    padding: 10px;
}

footer{
    font-weight: 200;
    text-align: center;
    background-color: var(--cor-principal);
    padding: 10px;
}